.button {
  display: block;
  padding: 10px;

  font-family: $ff-accent;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  cursor: pointer;
  transition: opacity 0.3s, background-color 0.3s, color 0.3s;

  &--catalog {
    display: flex;
    align-items: center;
    gap: 15px;
    width: max-content;
    padding-left: 0;
    color: $fc-dark;
    line-height: 16px;
    text-align: left;

    @media (min-width: $viewport-medium) {
      font-size: 20px;
      line-height: 30px;
      gap: 25px;
    }

    &::after {
      @include icon-mask(url("../../icons/stack.svg#arrow"), 24px 12px);
      flex-shrink: 0;
      content: "";
      display: block;
      width: 32px;
      height: 12px;
      mask-position: left;
      background-color: $bg-color-dark;

      transition: all 0.3s;
    }
  }

  &--primary {
    background-color: $bg-color-bright-basic;
    color: $fc-light;
  }

  &--card-view-all {
    padding-top: 11px;
    padding-bottom: 9px;
    background-color: $bg-color-additional-basic;
    color: $fc-grey;
  }

  &--catalog:hover::after,
  &--catalog:active::after {
    mask-size: 32px 12px;
  }

  &--catalog:active {
    opacity: 0.3;
  }

  &--primary:hover {
    background-color: $bg-color-bright-special;
  }

  &--primary:active {
    background-color: $bg-color-bright-special;
    color: rgba($fc-light, 0.3);
  }

  &--card-view-all:hover {
    background-color: $bg-color-additional-special;
  }

  &--card-view-all:active {
    opacity: 0.3;
  }
}
