.contacts-section {
  @media (min-width: $viewport-big) {
    position: relative;
  }
}

.contacts-section__wrapper-text {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  gap: 17px;
  padding-top: 27px;
  padding-bottom: 25px;

  @media (min-width: $viewport-medium) {
    padding: 62px 70px;
    gap: 155px;
  }

  @media (min-width: $viewport-big) {
    position: absolute;
    top: 95px;
    right: 50%;
    transform: translateX(-45px);
    gap: 90px;
    width: 565px;
    padding: 61px 80px;
    background-color: $bg-color-primary;
  }

  &--inner-page {
    background-color: $bg-color-additional-basic;

    @media (min-width: $viewport-big) {
      background-color: $bg-color-primary;
    }
  }
}

.contacts-section__slogan {
  margin: 0;
  font-family: $ff-accent;
  font-size: 16px;
  line-height: 20px;
  color: $fc-dark-lighter;
  text-transform: uppercase;

  @media (min-width: $viewport-medium) {
    font-size: 20px;
    line-height: 26px;
  }
}

.contacts-section__address {
  display: flex;
  flex-direction: column;
  line-height: 20px;
  font-style: normal;

  @media (min-width: $viewport-medium) {
    display: flex;
    flex-direction: column;
    gap: 18px;
    font-size: 16px;
    text-align: right;
  }

  @media (min-width: $viewport-big) {
    text-align: left;
  }
}

.contacts-section__wrapper-map {
  height: 362px;
  overflow: hidden;

  @media (min-width: $viewport-medium) {
    height: 400px;
  }
}

.contacts-section__map-interactive {
  height: 362px;
  width: 100%;
  vertical-align: middle;

  @media (min-width: $viewport-medium) {
    height: 400px;
  }
}

.contacts-section__wrapper-map-interactive--no-js {
  display: none;
}

.contacts-section__image-map {
  display: block;
  height: 362px;
  width: 100%;
  object-fit: cover;

  @media (min-width: $viewport-medium) {
    height: 400px;
  }

  &--open-interactive-map {
    display: none;
  }
}
