.contacts-section__wrapper-text--inner-page {
  background-color: $bg-color-additional-basic;

  @media (min-width: $viewport-big) {
    background-color: $bg-color-primary;
  }
}

.contacts-section__slogan {
  font-family: $ff-accent;
  font-size: 16px;
  line-height: 20px;
  color: $fc-dark-lighter;
  text-transform: uppercase;

  @media (min-width: $viewport-medium) {
    font-size: 20px;
    line-height: 26px;
  }
}

.contacts-section__address {
  line-height: 20px;
  font-style: normal;

  @media (min-width: $viewport-medium) {
    font-size: 16px;
    text-align: right;
  }

  @media (min-width: $viewport-big) {
    text-align: left;
  }
}
