.copyright {
  font-size: 16px;
  line-height: 20px;
  color: inherit;
}

.copyright__text {
  transition: opacity 0.3s;

  &::before {
    @include icon-mask(url("../../icons/stack.svg#logo-html-academy"), 27px 34px);
    content: "";
    display: block;
    width: 27px;
    height: 34px;
    background-color: $bg-color-special;

    transition: background-color 0.3s;
  }

  &:hover::before {
    background-color: $bg-color-bright-basic;
  }

  &:active {
    opacity: 0.3;
  }

  &:active::before {
    background-color: $bg-color-bright-basic;
  }
}
