.description-section__title {
  font-family: $ff-accent;
  font-size: 36px;
  line-height: 40px;
  color: $fc-dark;

  @media (min-width: $viewport-medium) {
    font-size: 60px;
    line-height: 60px;
  }
}

.description-section__list {
  @include list-reset();

  display: grid;
  gap: 20px;

  @media (min-width: $viewport-medium) {
    grid-template-columns: 1fr 1fr;
    gap: 37px 137px;
  }

  @media (min-width: $viewport-big) {
    grid-template-columns: repeat(4, 1fr);
    gap: 37px 7%;
  }
}

.description-section__item {
  display: flex;
  gap: 20px;

  @media (min-width: $viewport-medium) {
    min-height: 280px;
    flex-direction: column;
    gap: 31px;
    font-size: 16px;
    line-height: 24px;
  }

  &::before {
    flex-shrink: 0;
    content: "";
    display: block;
    width: 60px;
    height: 60px;
    background-color: $bg-color-bright-basic;
    background-position: center;
    background-repeat: no-repeat;

    @media (min-width: $viewport-medium) {
      width: 80px;
      height: 80px;
    }
  }

  &--icon-substance::before {
    background-image: url("../../icons/stack.svg#sheet");
    background-size: 25px 28px;
  }

  &--icon-consistency::before {
    background-image: url("../../icons/stack.svg#water");
    background-size: 26px 28px;
  }

  &--icon-eat::before {
    background-image: url("../../icons/stack.svg#eat");
    background-size: 25px 30px;
  }

  &--icon-weight::before {
    background-image: url("../../icons/stack.svg#scales");
    background-size: 26px 31px;
  }
}
