.description-section__title {
  font-family: $ff-accent;
  font-size: 36px;
  line-height: 40px;
  color: $fc-dark;

  @media (min-width: $viewport-medium) {
    font-size: 60px;
    line-height: 60px;
  }
}

.description-section__list {
  @include list-reset();
}

.description-section__item {
  @media (min-width: $viewport-medium) {
    font-size: 16px;
    line-height: 24px;
  }
}
