.description-section {
  @media ($viewport-medium <= width < $viewport-big) {
    margin-left: calc($page-padding-medium * -1);
    margin-right: calc($page-padding-medium * -1);
    padding-left: $page-padding-medium;
    padding-right: $page-padding-medium;
    padding-bottom: 6px;
    border-bottom: 1px solid #e6e6e6;
  }
}

.description-section__title {
  margin-top: 0;
  margin-bottom: 40px;
  font-family: $ff-accent;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: $fc-dark;

  @media (min-width: $viewport-medium) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 72px;
  }
}

.description-section__list {
  @include list-reset();

  display: grid;
  gap: 20px;
  counter-reset: list-item-desk;

  @media (min-width: $viewport-medium) {
    grid-template-columns: 1fr 1fr;
    gap: 37px 60px;
  }

  @media (min-width: $viewport-big) {
    grid-template-columns: repeat(4, 1fr);
    gap: 37px 6.4%;
  }
}

.description-section__item {
  position: relative;
  display: flex;
  gap: 20px;

  @media (min-width: $viewport-medium) {
    min-height: 280px;
    flex-direction: column;
    gap: 31px;
    font-size: 16px;
    line-height: 24px;
  }

  &::before {
    flex-shrink: 0;
    content: "";
    display: block;
    width: 60px;
    height: 60px;
    background-color: $bg-color-bright-basic;
    background-position: center;
    background-repeat: no-repeat;

    @media (min-width: $viewport-medium) {
      width: 80px;
      height: 80px;
    }
  }

  &--icon-substance::before {
    background-image: url("../../icons/stack.svg#sheet");
    background-size: 25px 28px;
  }

  &--icon-consistency::before {
    background-image: url("../../icons/stack.svg#water");
    background-size: 26px 28px;
  }

  &--icon-eat::before {
    background-image: url("../../icons/stack.svg#eat");
    background-size: 25px 30px;
  }

  &--icon-weight::before {
    background-image: url("../../icons/stack.svg#scales");
    background-size: 26px 31px;
  }

  &::after {
    @media (min-width: $viewport-medium) {
      position: absolute;
      z-index: -1;
      top: -39px;
      left: 50%;
      transform: translate(-39%);
      content: counter(list-item-desk);
      counter-increment: list-item-desk;
      display: block;
      font-family: $ff-accent;
      font-size: 280px;
      line-height: 280px;
      color: $bg-color-additional-basic;
    }

    @media (min-width: $viewport-big) {
      transform: translate(-7%);
    }
  }
}

.description-section__text {
  padding-top: 2px;

  @media (min-width: $viewport-medium) {
    padding-top: 0;
  }
}

.description-section__text-line-break {
  @media (width < $viewport-medium) {
    display: none;
  }
}
