.examples-section {
  background-color: $bg-color-special-lighter;

  @media (min-width: $viewport-medium) {
    background-color: transparent;
    background-image: linear-gradient(to bottom, $bg-color-primary 57.3%, $bg-color-special-lighter 42.7%);
  }

  @media (min-width: $viewport-big) {
    background-image: linear-gradient(to top, $bg-color-special-lighter 77.3%, $bg-color-primary 22.7%);
  }
}

.examples-section__content-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $viewport-big) {
    flex-direction: row;
  }
}

.examples-section__title {
  font-family: $ff-accent;
  font-size: 36px;
  line-height: 40px;
  color: $fc-dark;

  @media (min-width: $viewport-medium) {
    font-size: 60px;
    line-height: 60px;
  }
}

.examples-section__desc {
  @media (min-width: $viewport-medium) {
    font-size: 16px;
    line-height: 24px;
  }
}

.examples-section__wrapper-results {
  @media (min-width: $viewport-medium) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $viewport-big) {
    flex-direction: column;
  }
}

.examples-section__desc-strong {
  font-family: $ff-accent;
  line-height: 20px;
  color: $fc-dark;
  text-align: center;

  @media (min-width: $viewport-medium) {
    font-size: 20px;
    text-align: right;
  }

  @media (min-width: $viewport-big) {
    text-align: left;
  }
}
