.form-newsletter {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  text-align: center;

  @media (min-width: $viewport-medium) {
    flex-direction: row;
    gap: 0;
    justify-content: center;
    padding-left: 38px;
    padding-right: 38px;
  }
}

.form-newsletter__field-email {
  width: 100%;
  min-width: 280px;
  max-width: 496px;
  padding: 13px 12px 11px;
  font-family: $ff-accent;
  font-size: 20px;
  line-height: 30px;
  color: $fc-grey;
  text-transform: uppercase;
  border: 1px solid $bg-color-special-grey;
}

.form-newsletter__button {
  width: 100%;
  max-width: 450px;
  padding: 15px;
  font-size: 20px;
  line-height: 26px;
  border: none;

  @media (min-width: $viewport-medium) {
    max-width: 256px;
  }

  @media (min-width: $viewport-big) {
    width: fit-content;
    max-width: none;
    min-width: 256px;
  }
}
