.hero {
  min-height: 495px;
  min-width: 320px;
  font-family: $ff-accent;
  text-align: center;
  color: $fc-light;
  background-image:
    linear-gradient(to bottom, rgba($bg-color-bright-basic, 0.85) 61.1%, $bg-color-primary 38.9%),
    image-set(
      url("../../images/backgrounds/background-mobile-1@1x.webp") type("image/webp") 1x,
      url("../../images/backgrounds/background-mobile-1@2x.webp") type("image/webp") 2x,
      url("../../images/backgrounds/background-mobile-1@1x.jpg") 1x,
      url("../../images/backgrounds/background-mobile-1@2x.jpg") 2x),
    linear-gradient(to bottom, #474163 61.1%, $bg-color-primary 38.9%);
  background-repeat: no-repeat;
  background-size: 100%, 320px 302px, 100%;
  background-position: top center, top center;

  @media ($viewport-small < width < $viewport-medium) {
    background-position: top center, top right;
  }

  @media (min-width: $viewport-medium) {
    padding-top: 27px;
    background: none;
  }

  @media (min-width: $viewport-big) {
    padding-top: 0;
  }
}

.hero__content-wrapper {
  display: grid;
  padding-top: 27px;

  @media (min-width: $viewport-medium) {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    padding-left: 120px;
  }

  @media (min-width: $viewport-big) {
    padding-top: 0;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    padding-left: 129px;
  }
}

.hero__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 26px;

  @media (min-width: $viewport-medium) {
    grid-column: 1 / -1;
    font-size: 60px;
    line-height: 60px;
    color: $fc-dark;
    text-align: left;
    margin-bottom: 40px;
  }

  @media (min-width: $viewport-big) {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    margin-top: 101px;
    margin-bottom: 39px;
  }
}

.hero__slogan {
  line-height: 14px;
  color: $fc-light;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 28px;

  @media (min-width: $viewport-medium) {
    grid-column: 1 / -1;
    font-size: 20px;
    line-height: 20px;
    color: $fc-dark;
    text-align: left;
  }

  @media (min-width: $viewport-big) {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    margin-bottom: 52px;
  }
}

.hero__image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3px;

  @media (min-width: $viewport-medium) {
    grid-area: 3 / -3 / auto / -1;
    grid-row: 3;
    width: 709px;
    height: 609px;
    margin-bottom: 0;
    transform: translate(-296px, -7px);
  }

  @media (min-width: $viewport-big) {
    grid-column: 5;
    grid-row: 1 / 5;
    width: 552px;
    height: 449px;
    transform: translate(-284px, 45px);
  }
}

.hero__image {
  display: block;
}

.hero__button {
  max-width: 100%;

  @media (min-width: $viewport-medium) {
    grid-column: 1 / -1;
    grid-row: 3;
    z-index: 2;
    width: max-content;
    height: max-content;
    font-size: 20px;
    line-height: 26px;
    min-width: 244px;
    margin-top: 22px;
    padding-top: 14px;
    padding-bottom: 14px;
  }

  @media (min-width: $viewport-big) {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    margin-top: 0;
  }
}
