.item-product-additional {
  @media (min-width: $viewport-big) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.item-product-additional__wrapper-description {
  @media (min-width: $viewport-medium) {
    display: flex;
    justify-content: space-between;
  }
}

.item-product-additional__title {
  font-family: $ff-accent;
  font-size: 16px;
  line-height: 16px;
  color: $fc-dark-special;
  text-transform: uppercase;

  @media (min-width: $viewport-medium) {
    font-size: 20px;
    line-height: 20px;
  }
}

.item-product-additional__list-details {
  font-size: 14px;
  line-height: 14px;

  @media (min-width: $viewport-medium) {
    font-size: 16px;
    line-height: 20px;
  }
}

.item-product-additional__button {
  min-width: 244px;
}
