.item-definitions__term {
  font-family: $ff-accent;
  font-size: 24px;
  line-height: 24px;
  color: $fc-dark;

  @media (min-width: $viewport-medium) {
    font-size: 30px;
    line-height: 37px;
  }
}

.item-definitions__definition {
  font-size: 12px;
  line-height: 12px;

  @media (min-width: $viewport-medium) {
    line-height: 14px;
  }
}
