.main-menu {
  @include list-reset;

  text-transform: uppercase;
  font-size: 20px;
  line-height: 20px;

  @media (min-width: $viewport-medium) {
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $viewport-big) {
    font-size: 20px;
    line-height: 30px;
  }
}

.main-menu__link {
  font-family: $ff-accent;
  color: $fc-dark;

  transition: opacity 0.3s;

  @media (min-width: $viewport-big) {
    color: $fc-light;
  }

  &--index-page.main-menu__link--current {
    @media (min-width: $viewport-big) {
      text-decoration-color: $fc-light;
    }
  }

  &--inner-page {
    @media (min-width: $viewport-big) {
      color: $fc-dark-lighter;
    }
  }

  &--current {
    cursor: default;

    @media (min-width: $viewport-medium) {
      text-decoration: underline;
      text-decoration-color: $bg-color-bright-basic;
      text-decoration-thickness: 2px;
      text-underline-offset: 8px;
      text-underline-position: under;
    }
  }

  &:not(.main-menu__link--current):hover {
    opacity: 0.6;
  }

  &:not(.main-menu__link--current):active {
    opacity: 0.3;
  }
}
