.main-menu {
  @include list-reset;

  text-transform: uppercase;
  font-size: 20px;
  line-height: 20px;

  @media (min-width: $viewport-medium) {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding-right: 5px;
    column-gap: 34px;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $viewport-big) {
    max-width: 580px;
    font-size: 20px;
    line-height: 30px;
    column-gap: 34px;
    padding-right: 0;
  }
}

.main-menu__item {
  flex-shrink: 0;

  &:first-child {
    @media (width < $viewport-medium) {
      border-top: 1px solid #e6e6e6;
    }
  }

  @media (width < $viewport-medium) {
    text-align: center;
    box-sizing: content-box;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    background-color: $bg-color-primary;
    border-bottom: 1px solid #e6e6e6;
  }
}

.main-menu__link {
  display: block;
  padding: 22px 0 23px;
  font-family: $ff-accent;
  color: $fc-dark;

  transition: opacity 0.3s;

  @media (min-width: $viewport-medium) {
    padding-top: 14px;
  }

  @media (min-width: $viewport-big) {
    color: $fc-light;
    padding-top: 16px;
  }

  &--index-page.main-menu__link--current {
    @media (min-width: $viewport-big) {
      text-decoration-color: $fc-light;
    }
  }

  &--inner-page {
    @media (min-width: $viewport-big) {
      color: $fc-dark-lighter;
    }
  }

  &--current {
    cursor: default;

    @media (min-width: $viewport-medium) {
      text-decoration: underline;
      text-decoration-color: $bg-color-bright-basic;
      text-decoration-thickness: 2px;
      text-underline-offset: 8px;
      text-underline-position: under;
    }
  }

  &:not(.main-menu__link--current):hover {
    opacity: 0.6;
  }

  &:not(.main-menu__link--current):active {
    opacity: 0.3;
  }
}
