.main-menu {
  @include list-reset;

  text-transform: uppercase;
  font-size: 20px;
  line-height: 20px;

  @media (min-width: $view-tablet) {
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $view-desktop) {
    font-size: 20px;
    line-height: 30px;
  }
}

.main-menu__link {
  font-family: $ff-accent;
  color: $fc-dark;

  @media (min-width: $view-desktop) {
    color: $fc-light;
  }
}
