.page-main {
  &--index-page {
    @media (min-width: $viewport-medium) {
      margin-top: -7px;
    }

    @media (min-width: $viewport-big) {
      margin-top: 0;
    }
  }
}

.page-main__title { /* title in inner page */
  font-family: $ff-accent;
  font-size: 36px;
  line-height: 36px;
  color: $fc-dark;
  margin-bottom: 41px;

  @media (min-width: $viewport-medium) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 165px;
  }
}

.page-main__catalogs {
  margin-bottom: 20px;

  @media (min-width: $viewport-medium) {
    margin-bottom: 45px;
  }

  @media (min-width: $viewport-big) {
    margin-bottom: 71px;
  }
}

.page-main__description-section {
  margin-bottom: 49px;

  @media (min-width: $viewport-medium) {
    margin-bottom: 45px;
  }

  @media (min-width: $viewport-big) {
    margin-bottom: 29px;
  }
}
