.page-main {
  &--index-page {
    @media (min-width: $viewport-medium) {
      margin-top: -7px;
    }

    @media (min-width: $viewport-big) {
      margin-top: 0;
    }
  }

  &--inner-page {
    padding-top: 3px;

    @media (min-width: $viewport-medium) {
      padding-top: 14px;
    }

    @media (min-width: $viewport-big) {
      padding-top: 25px;
    }
  }
}

.page-main__title { /* title in inner page */
  font-family: $ff-accent;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: $fc-dark;
  padding-bottom: 40px;
  margin-bottom: 0;

  @media (width < $viewport-medium) { /* стили для полосы снизу */
    border-bottom: 1px solid $bg-color-additional-special;
    margin-left: calc($page-padding-medium * -1);
    margin-right: calc($page-padding-medium * -1);
    padding-left: $page-padding-medium;
    padding-right: $page-padding-medium;
  }

  @media (min-width: $viewport-medium) {
    margin-bottom: 165px;
    padding-bottom: 0;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $viewport-big) {
    margin-top: 38px;
  }
}

.page-main__catalogs {
  margin-bottom: 20px;

  @media (min-width: $viewport-medium) {
    margin-bottom: 45px;
  }

  @media (min-width: $viewport-big) {
    margin-bottom: 71px;
  }
}

.page-main__description-section {
  margin-bottom: 49px;

  @media (min-width: $viewport-medium) {
    margin-bottom: 45px;
  }

  @media (min-width: $viewport-big) {
    margin-bottom: 29px;
  }
}
