.promo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(to bottom, rgba($bg-color-bright-basic, 0.85) 50%, rgba($bg-color-bright-basic, 0.85) 50%);

  @media (min-width: $viewport-medium) {
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $viewport-big) {
    flex-direction: column;
    justify-content: space-between;
  }

  &::before {
    @include icon-mask(url("../../icons/stack.svg#present"), 78px 80px);

    content: "";
    display: block;
    width: 78px;
    height: 80px;
    background-color: $bg-color-primary;

    @media (min-width: $viewport-medium) {
      mask-size: 80px 82px;
      width: 80px;
      height: 82px;
    }
  }
}

.promo__promo-text {
  font-size: 16px;
  line-height: 20px;
  color: $fc-light;
  text-align: center;

  @media (min-width: $viewport-medium) {
    text-align: left;
  }

  @media (min-width: $viewport-big) {
    text-align: center;
  }
}
